<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stupid Coaching ask question</title>
  </head>
  <body>
    <div>
      <h1>Stupid Coaching</h1>
    </div>
    <div>
      <p>Ask your coach anything:</p>
      <form action="answer" data-turbo="false">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Ask a question" name="answer" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="sumbit" value="Ask!">Ask!</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
